@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";
.tabel_compani {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //style
  font-size: small;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;

  .main {
    //   background: colors.$grey100;
    position: relative;
    width: 90%;
    height: 46rem;
    margin-top: 1.3rem;
    background: white;

    border-radius: 0.25rem;

    .header {
      display: flex;
      flex-direction: row;
      height: 3rem;

      // styles
      font-size: small;
      font-weight: 500;
      font-family: "Poppins", sans-serif;

      .hdata {
        color: colors.$grey100;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .rows {
      display: flex;
      flex-direction: column;

      .row {
        border-top: 1px solid colors.$grey100;
        display: flex;
        flex-direction: row;

        min-height: 2.5rem;
        align-items: center;

        .td {
          flex: 1;
          justify-content: center;
          display: flex;
        }
      }
    }
  }
  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    .arrow {
      display: flex;
      padding: 3%;
      font-size: 2rem;
      color: colors.$lightgreen;
      cursor: pointer;
    }

    .numerotare {
      margin: 0.2rem 0.8rem;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: colors.$mywhite;
      font-size: medium;
    }
  }
}
