@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

.compani {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  .header {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .addbtn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      cursor: pointer;
      //dimensions
      width: 221px;
      height: 49px;

      margin-left: 3%;
      border-radius: 0.25rem;

      // styles
      background: colors.$lightgreen;
      color: colors.$mywhite;
      font-size: small;
      font-weight: 400;
      font-family: "Poppins", sans-serif;

      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .arrow {
        font-size: large;
        display: flex;
        justify-content: center;
      }
    }
    .titlu {
      // dimensions
      border: none;
      padding: 0.2%;
      margin-right: 5%;

      // styles
      color: colors.$mywhite;
      font-size: small;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      letter-spacing: 0.05rem;
    }
  }

  .body {
    background: white;
    width: 94%;
    min-height: 78vh;
    transition: width 2s;
    padding: 3%;
    .header {
      width: 20%;
      border-bottom: 1px solid black;
      margin-bottom: 2rem;

      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: colors.$lightgreen;
      line-height: 26px;
    }
    .row {
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: flex-start;
      gap: 5rem;
      .form_input {
        display: flex;
        flex-direction: column;
        width: 276px;
        height: 92px;
        gap: 1rem;

        .subheading {
          font-family: "Poppins", sans-serif;
          font-size: normal;
          font-weight: 500;
          line-height: 26px;
        }
        .input {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          height: 52px;
          width: 276px;
          border-radius: 0.5rem;
          background: white;
          border: 1px solid black;
          padding-left: 1rem;
        }
      }
      .form_select {
        display: flex;
        flex-direction: column;
        width: 276px;
        height: 92px;
        gap: 1rem;
        .subheading {
          font-family: "Poppins", sans-serif;
          font-size: normal;
          font-weight: 500;
          line-height: 26px;
        }
        .select {
          width: 280px;
          height: 60px;

          font-family: "Poppins", sans-serif;
          font-size: normal;
          font-weight: 500;
          line-height: 26px;

          background: white;
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
          border-radius: 0.5rem;
          border: 1px solid #d7d7d7;

          padding-left: 1rem;
          color: colors.$grey100;
        }
      }
    }

    .tabel {
      margin-top: 2rem;
      .theader {
        display: flex;
        flex-direction: row;
        height: 3rem;

        // styles
        font-size: small;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        border-bottom: 1px solid colors.$grey100;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-top: #d7d7d7 solid 1px;

        .hdata {
          color: colors.$grey100;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .input {
        height: 100%;
        width: 100%;
        border: 1px solid colors.$grey100;
      }
    }

    .btn_salveaza {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
      .button {
        width: 300px;
        height: 59px;
        background: colors.$darkpurple;
        color: colors.$mywhite;

        box-shadow: 0px 4px 10px rgba(24, 29, 49, 0.24);
        border-radius: 4px;

        // styles
        font-size: 20px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.05em;
        line-height: 30px;
      }
    }
  }
}
