@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";
.register {
  background: colors.$darkgrey;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .header {
    font-size: 30px;
    color: colors.$mywhite;
    margin: 0 auto;
  }
  .form {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;

    .logo {
      margin-bottom: 30px;
      width: 200px;
    }
    .input {
      margin: 1rem 0;
      height: 30px;
      width: 30vw;

      border: none;

      font-size: 20px;
      padding: 10px;
    }

    .eye {
      position: sticky;
      z-index: 1;
      height: 3rem;
      font-size: 2rem;
      color: white;
      margin: 1rem 0;
      cursor: pointer;
    }

    .btn {
      height: 30px;
      width: 150px;
      font-size: 20px;
      border: none;
      background: colors.$grey100;
      cursor: pointer;
    }
  }
  .footer {
    cursor: pointer;
    font-size: 20px;
  }
  .footer:hover {
    color: colors.$mywhite;
  }
}
