@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

.screen {
  background: colors.$lightgrey;
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: white;
}
