@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

.ecran_cu_pagini {
  width: auto;
  height: auto;
  margin: 1vw 3vw;

  .header_butoane {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    .header_titlu {
      font-size: larger;
      //   background: red;
      cursor: pointer;
    }
    .header_titlu_activ {
      border-bottom: 2px solid colors.$blue;
    }
  }
  .screen_date {
    overflow-y: auto;
    height: 70vh;
    .page_data {
      display: flex;
      flex-direction: column;

      .element_data {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
        .titlu_data {
          font-size: 2rem;
        }
        .select_data {
          padding: 0.7rem 0.2rem;
        }
      }
    }
  }
}
.ecran_fara_pagini {
}
