@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

.grey_screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  left: -100vw;
  top: 0vh;

  transition: 0.5s ease;

  height: 300vh;
  width: 100vw;
  .pop_up {
    position: relative;
    background: white;
    width: 92vw;
    height: 90vh;
    left: 4vw;
    top: 5vh;
  }
  .pop_down {
    position: relative;
    background: red;
    width: 92vw;
    height: 90vh;
    left: 4vw;
    top: 115vh;
  }
}
.grey_screen_move {
  top: -200vh;
  transition: top 0.5s ease;
}
.grey_screen_appear {
  left: 0;
  transition: 0.5s ease;
}
