@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

$side_width: 5rem;
.side {
  max-width: 4rem;
  height: 100vh;
  background: colors.$darkgrey;
  display: flex;
  flex-direction: column;
  .logo {
    width: 4rem;
    cursor: pointer;
  }
  .top_buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .bottom_buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration-line: none;
  color: colors.$mywhite;

  width: 100%;
  .btn_icon {
    min-width: 40px;
    font-size: 1.3rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    width: 300px;
  }
}
