@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

$sidemenu_width_open: 280px;
$sidemenu_width_closed: 80px;
.sidemenu_open {
  width: $sidemenu_width_open;
  background: colors.$darkgrey;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transition: width 0.5s;
  .btn_section .btn_title {
    visibility: visible;
    transition: visibility 0.2s, margin-left 0.2s;
  }
}
.sidemenu_closed {
  width: 80px;
  background: colors.$darkgrey;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transition: width 1s;

  .btn_section .btn_title {
    visibility: hidden;
    transition: visibility 0.2s, margin-left 0.2s;
    margin-left: 100px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin: 10px 0;
  height: 80px;
  .logo {
    //empty
  }
  .logo_closed {
    //empty
  }

  .lini {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;

    font-size: 30px;

    transition: font-size 0.5s linear, margin 0.5s linear;
    margin-left: 80px;
    margin-right: 20px;
  }
  .lini_closed {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;

    font-size: 45px;
    transition: font-size 0.5s linear, margin 0.5s linear;

    margin: 0px 13px 0px 15px;
  }
}
.btn_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  text-decoration-line: none;
  color: colors.$mywhite;

  .btn {
    min-width: 40px;
    font-size: 1.3rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 1.1rem;
  }
  .btn_title {
    margin-left: 0.4rem;
    min-width: 150px;
    font-size: medium;
    font-weight: 300;
    line-height: 1rem;
    font-family: "Inter", sans-serif;
  }
}
.btn:hover {
  background: colors.$lightgreen;
  border-radius: 0.5rem;
}
.btn_section_2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.endMenu {
  // background: orangered;
  display: flex;
  .card {
    width: $sidemenu_width_open - 30px;
    height: 100px;

    background: colors.$lightgrey;

    border-radius: 10px;
    margin: 1rem 1rem 1rem 1rem;
    transition: margin-left 0.3s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .profile_card {
      padding-left: 15px;
      padding-right: 10px;
      font-size: 30px;
      color: colors.$grey100;
    }
    .user {
      font-size: 12px;
      word-break: break-all;
      width: 200px;
      .username {
        color: white;
      }
      .email {
        color: white;
      }
    }

    .settings_card {
      transition: visibility 0.7s;

      padding-right: 10px;
      font-size: 20px;
      color: colors.$grey100;
    }
  }
  .cardclosed {
    margin-left: 0.3rem;
    transition: width 0.3s, margin-left 0.3s;
    width: 60px;
    background: transparent;

    .user {
      visibility: hidden;
    }
    .profile_card {
      padding-right: 0;
    }
    .settings_card {
      transition: visibility 0.2s;
      visibility: hidden;
    }
  }
}
