@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

.popdown_open {
  position: fixed;
  left: 0;
  top: 0;
  height: 200vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);

  visibility: visible;
  transition: visibility 0.1s;
  .white_screen {
    background: white;

    position: fixed;

    margin-top: 5vh;
    margin-left: 5vw;

    height: 90vh;
    width: 90vw;

    transition: margin-top 0.2s;

    .header {
      height: 10vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding: 2rem 3%;

      .title {
        font-size: 2.5rem;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.05em;
        line-height: 30px;
      }
      .exit_btn {
        cursor: pointer;

        font-size: 2rem;
        color: colors.$darkgrey;
      }
    }
    .form {
      width: 90%;
      height: 70%;
      margin-left: 5%;
      overflow-y: scroll;
      .zona {
        height: 100px;
        margin: 4rem 0;
        .row {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          height: 5rem;
          .icon {
            font-size: 2rem;
          }
          .title {
            margin-left: 1.5%;
            width: 25rem;
            font-size: 1.2rem;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            letter-spacing: 0.05em;
            line-height: 30px;
          }
        }
        .row2 {
          display: flex;
          flex-direction: row;
          //   background: red;
          justify-content: flex-start;
          //   gap: 20rem;
          flex-wrap: wrap;
          .label {
            display: flex;
            .title {
              min-height: 2rem;
              width: 13rem;
              font-size: 1rem;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
              letter-spacing: 0.05em;
              line-height: 30px;
            }
            .input {
              width: 30rem;
              height: 2rem;
              margin-left: 1rem;
              border: none;
              font-size: 1rem;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
              letter-spacing: 0.05em;
              line-height: 30px;
            }
            .input:focus {
              outline: none;
            }
          }
        }
        .tabel {
          display: flex;
          flex-direction: column;
          .theader {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            background: colors.$easygrey;
            padding: 0.5rem;
            .th {
              width: 20rem;
              font-size: 1rem;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
              letter-spacing: 0.05em;
              line-height: 30px;
            }
          }
          .trow {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 0.5rem;

            border-bottom: 1px solid colors.$grey100;
            .td {
              width: 20rem;
              font-size: 0.8rem;
              font-weight: 300;
              font-family: "Poppins", sans-serif;
              letter-spacing: 0.05em;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
.popdown_closed {
  visibility: hidden;
  transition: visibility 0.1s;

  .white_screen_closed {
    margin-top: 105vh;
    transition: margin-top 0.2s;
  }
}
