@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

.tabel_rapoarte {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  //style
  font-size: small;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;

  .main {
    //   background: colors.$grey100;
    position: relative;
    width: 90%;
    height: 46rem;
    margin-top: 1.3rem;
    background: white;

    border-radius: 0.25rem;

    .header {
      display: flex;
      flex-direction: row;
      height: 3rem;

      // styles
      font-size: small;
      font-weight: 500;
      font-family: "Poppins", sans-serif;

      .hdata {
        color: colors.$grey100;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .rows {
      display: flex;
      flex-direction: column;

      .row {
        border-top: 1px solid colors.$grey100;
        display: flex;
        flex-direction: row;

        min-height: 2.5rem;
        align-items: center;

        cursor: pointer;
        .td {
          flex: 1;
          justify-content: center;
          display: flex;
        }
      }
    }
  }
  .arrows {
    margin-top: 0.5rem;
    color: white;

    font-size: 1rem;
    font-weight: 500;

    gap: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 9rem;

    .left_arrow {
      cursor: pointer;

      background: white;
      color: black;

      margin: 0 auto;
      height: 1.5rem;
      width: 3rem;

      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: width 0.2s;
    }
    .right_arrow {
      cursor: pointer;

      background: white;
      color: black;

      margin: 0 auto;
      width: 3rem;
      height: 1.5rem;

      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: width 0.2s;
    }
    .left_arrow:hover {
      background: colors.$grey100;
      color: white;
      width: 3.5rem;

      transition: width 0.2s;
    }
    .right_arrow:hover {
      background: colors.$grey100;
      color: white;

      width: 3.5rem;
      transition: width 0.2s;
    }
  }
}
