@use "../../styles/colors.scss";
@use "../../styles/mixinHelper";
@use "../../styles/fonts";

.popup_open {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 200vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);

  visibility: visible;
  transition: visibility 0.3s;
  .white_screen {
    background: white;

    position: fixed;

    margin-top: 105vh;
    margin-left: 5vw;

    height: 90vh;
    width: 90vw;

    transition: margin-top 0.2s;
    .header {
      height: 10vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin: 2rem;
      margin-left: 3%;

      .title {
        font-size: 2.5rem;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.05em;
        line-height: 30px;
      }
      .exit_btn {
        cursor: pointer;

        font-size: 2rem;
        color: colors.$darkgrey;
      }
    }
    .main {
      display: flex;
      flex-direction: column;
      height: 70vh;
      .buttons {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: flex-start;
        margin-left: 5%;
        gap: 2rem;
        .button_name {
          font-size: 1rem;
          font-weight: 500;
          font-family: "Poppins", sans-serif;
          letter-spacing: 0.05em;
          line-height: 30px;
          cursor: pointer;
        }
        .edit_btn {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          margin-left: auto;
          margin-right: 5%;
          cursor: pointer;
          //dimensions
          border: none;
          padding: 0.2%;

          // styles
          background: colors.$lightgreen;
          color: colors.$mywhite;
          font-size: small;
          font-weight: 400;
          font-family: "Poppins", sans-serif;

          width: 221px;
          height: 49px;

          border-radius: 0.25rem;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }

      .screen {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        height: 100%;
        margin: 2% 5%;
        overflow-y: auto;
        .zona {
          height: 100px;
          margin: 2rem 0;
          .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 5rem;
            .icon {
              font-size: 2rem;
            }
            .title {
              margin-left: 2rem;
              font-size: 1rem;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
              letter-spacing: 0.05em;
              line-height: 30px;
            }
          }
          .row2 {
            display: flex;
            flex-direction: row;
            // background: red;
            justify-content: flex-start;
            gap: 20rem;
            .title {
              width: 25rem;
              font-size: 1rem;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
              letter-spacing: 0.05em;
              line-height: 30px;
            }
          }
          .tabel {
            display: flex;
            flex-direction: column;
            .theader {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              background: colors.$easygrey;
              padding: 0.5rem;
              .th {
                width: 20rem;
                font-size: 1rem;
                font-weight: 500;
                font-family: "Poppins", sans-serif;
                letter-spacing: 0.05em;
                line-height: 30px;
              }
            }
            .trow {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              padding: 0.5rem;

              border-bottom: 1px solid colors.$grey100;
              .td {
                width: 20rem;
                font-size: 0.8rem;
                font-weight: 300;
                font-family: "Poppins", sans-serif;
                letter-spacing: 0.05em;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
  }
}
.popup_closed {
  visibility: hidden;
  transition: visibility 0.3s;

  .white_screen_closed {
    margin-top: 5vh;
    transition: margin-top 0.2s;
  }
}
