@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

.addBtn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;

  //dimensions
  border: none;
  padding: 0.2%;

  margin-right: 5%;

  // styles
  background: colors.$lightgreen;
  color: colors.$mywhite;
  font-size: small;
  font-weight: 400;
  font-family: "Poppins", sans-serif;

  width: 221px;
  height: 49px;

  border-radius: 0.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .icon {
    flex: 1;
  }
  .text {
    flex: 4;
  }
}

.backbtn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;

  //dimensions
  border: none;
  padding: 0.2%;

  margin-right: 5%;

  // styles
  background: colors.$lightgreen;
  color: colors.$mywhite;
  font-size: small;
  font-weight: 400;
  font-family: "Poppins", sans-serif;

  width: 221px;
  height: 49px;

  border-radius: 0.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .icon {
    flex: 1;
  }
  .text {
    flex: 4;
  }
}

.btn_salveaza {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 5rem;

  width: 300px;
  height: 59px;

  background: colors.$darkpurple;
  color: colors.$mywhite;

  box-shadow: 0px 4px 10px rgba(24, 29, 49, 0.24);
  border-radius: 4px;
  border: none;

  // styles
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
  line-height: 30px;

  cursor: pointer;
}
