@use "src/styles/colors";
@use "src/styles/mixinHelper";
@use "src/styles/fonts";

.addBtn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  //dimensions
  border: none;
  padding: 0.2%;

  margin-right: 5%;

  // styles
  background: colors.$lightgreen;
  color: colors.$mywhite;
  font-size: small;
  font-weight: 400;
  font-family: "Poppins", sans-serif;

  width: 221px;
  height: 49px;

  border-radius: 0.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
