@use "src/styles/colors";
@use "src/styles/mixinHelper";

.layout {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .outlet {
    overflow-y: scroll;
    flex: 1;
    background: colors.$lightgrey;
  }
}
